body{
    font-family: 'Roboto Slab', serif;
    color: rgb(112, 112, 112);
}

.btnCompose{
    border-radius: 20px;
    width: 130px;
    box-shadow: 2px 2px 10px 0.5px rgba(0,0,0,0.75); 
    margin-left: 15px;
    margin-bottom: 30px;
}
a{
    color: rgb(112, 112, 112);
}
.messages{
    box-shadow: 0px 0.5px 0px 0px rgba(0,0,0,0.75);

}

.nav1{
    background: linear-gradient(to bottom right ,#8901ff,#3c00b4);
 
     /* background-color: #7952B3; */
 }
 .nav-link{
     font-family: 'Noto Serif', serif;
 }
 .headertext{
     font-family: 'Noto Serif', serif
 }
 .newMessage{
     width: 100%;
     height: 5px;
     background: #404040;
     
 }
 
 
 
 
 
 footer {
     height: 70px;
     padding: 25px 50px;
     background:linear-gradient(to bottom right ,#8901ff,#3c00b4);
 }
 footer a {
     color: black;
 }
 footer p {
     color: white;
 }
 h1{
     margin-top: 150px;
 }